body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  margin: 0 auto;
  max-width: 700px;
}

.content {
  border: 5px black solid;
  border-radius: 5px;
  background-color: gainsboro;
}

table {
  width: 100%;
}

td:last-child {
  min-width: 125px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: beige;
}

tr:nth-child(odd) {
  background-color: gray;
}

input, button {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 2px black;
}

.completed {
  text-decoration: line-through;
}

